<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="body">
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>.......</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Create Grid-->
  <div class="container" id='grid'>
      
    
    <div class="row">
      <div class="col-md-12">
          <div class="container" id="container1">
              
              <div>
               <h1 class="text-info"> Latest Mars News </h1>

                  <div class="container" >
                    <div class = 'row'>
                      <h2></h2>
                      <h3>{{mars.news_title}}</h3>
                      <h4> {{mars.news_p}}</h3>
                     
                      <div class="col-md-6">
                            <h1> Featured Mars Image</h1>
                            <img src="{{ mars.featured_image}}" alt="..." class="thumbnailC">

     

                      </div>
                      <div class="col-md-6">
                              <p>
                                <h3>Current Weather on Mars</h3>
                                <h4>{{mars.mars_weather}}</h4>
                                <h4> {{mars.mars_facts|safe}}</h4>
                              </p>                       
                        </div>
                      
                    </div>
                  </div>
                  
              </div> 
          </div>
        </div>
        <hr class="my-4">      
<!-- Visualizations Container -->
      <div class="row"></div>
        <div class="container" id="container2">
            <h3 class="text-info">Mars Hemispheres</h3>


            <div class="row">
              <div class="col-md-6">
                <div>
                    <h4>'{{mars.hemisphere[0].title}}'</h4>
                    <img src= '{{mars.hemisphere[0].img_url}}' alt="..." class="thumbnailC">
                </div>
              </div>

              <div class="col-md-6">
                <div>
                    <h4>'{{mars.hemisphere[1].title}}'</h4>
                    <img src= '{{mars.hemisphere[1].img_url}}' alt="..." class="thumbnailC">
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div>
                  <h4>'{{mars.hemisphere[2].title}}'</h4>
                  <img src= '{{mars.hemisphere[2].img_url}}' alt="..." class="thumbnailC">
              </div>
            </div>

            <div class="col-md-6">
              <div>
                  <h4>'{{mars.hemisphere[3].title}}'</h4>
                  <img src= '{{mars.hemisphere[3].img_url}}' alt="..." class="thumbnailC">
              </div>
            </div>


            </div>
          </div>
      </div>

    </div>

  </div>
</body>

</html>
